
@{
    ViewBag.Title = "Principal";
    Layout = "~/Views/Master/Principal.cshtml";
}

<h2>Principal</h2>
<div class="jumbotron">
    <h1>Othello Cx</h1>
    <p class="lead">Se el primero competidor en demostrar tus habilidades estrategicas</p>
    <p><a href="#" class="btn btn-primary btn-lg">¡¡Vamos!! &raquo;</a></p>
</div>
<div class="row" style="z-index:-3;">
    <div class="col-md-4">
        <div class="card text-white bg-success mb-3" style="max-width: 20rem;">
            <div class="card-header">Conoce las reglas</div>
            <div class="card-body">
                <p class="card-text">Conoce y aprender a jugar para enfrentar a jugadores...</p>
                <p><a class="btn btn-info" href="#">Informacion&raquo;</a></p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card text-white bg-success mb-3" style="max-width: 20rem;">
            <div class="card-header">Modos de Juegos</div>
            <div class="card-body">
                <p class="card-text">Divierte creando juegos modo competitivos o individuales...</p>
                <p><a class="btn btn-info" href="#">Informacion&raquo;</a></p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card text-white bg-success mb-3" style="max-width: 20rem;">
            <div class="card-header">Torneos</div>
            <div class="card-body">
                <p class="card-text">Desmuestra que eres el mejor en los torneos mundiales....</p>
                <p><a class="btn btn-info" href="#">Informacion&raquo;</a></p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card text-white bg-success mb-3" style="max-width: 20rem;">
            <div class="card-header">Cuenta</div>
            <div class="card-body">
                <p class="card-text">Crea los diferenetes tipos de juegos.</p>
                <p><a class="btn btn-info" href="#">Informacion&raquo;</a></p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card text-white bg-success mb-3" style="max-width: 20rem;">
            <div class="card-header">Ranking Mundial</div>
            <div class="card-body">
                <p class="card-text">Clasifite como el mejor jugador...</p>
                <p><a class="btn btn-info" href="#">Informacion&raquo;</a></p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card text-white bg-success mb-3" style="max-width: 20rem;">
            <div class="card-header">Carga y Guarda</div>
            <div class="card-body">
                <p class="card-text">Carga y guarda tus partidas</p>
                <p><a class="btn btn-info" href="#">Informacion&raquo;</a></p>
            </div>
        </div>
    </div>
</div>
