@{
    Layout = "~/Views/Master/Principal.cshtml";
    ViewBag.Title = "Reglas";
}
    <p style="color:black"></p>
    
    <div class="card border-danger mb-3" style="width:100%;">
        <div class="card-header">Informacion Othello</div>
        <div class="card-body">
            <h4 class="card-title">Informacion</h4>
            <p class="card-text">
                El juego conocido como Othello tiene sus orígenes en el año 1880 en el Reino Unido, concretamente en Londres. Fue
                creado por dos ingleses, de forma independiente, cuyos nombres
                son Lewis Waterman y John W. Mollet, que crearon juegos con
                reglas parecidas cuyos nombres eran Reversi y Annexation. Dicho
                juego empezó a hacerse conocido en la época y llegó a ser uno de
                los más practicados en Inglaterra a finales del siglo XIX. La
                existencia de dicho juego cruzó fronteras, pues fue en 1898 cuando
                la compañía alemana Ravensburger empezó a producirlo en masa para su posterior venta al público.
            </p>
        </div>
    </div>
    <div class="card border-danger mb-3" style="width:100%;">
        <div class="card-header">Reglas</div>
        <div class="card-body">
            <h4 class="card-title">Reglas</h4>
            <p class="card-text">
                El juego Othello se compone de un tablero con forma
                cuadrada con 8 casillas de lado (64 casillas en total), y 64 fichas con dos caras: una negra y otra blanca..
                Las casillas se definen con una letra, para las columnas, y un
                número para las filas. De este modo, la casilla situada arriba del a
                la izquierda es la A1 mientras que la que está a la derecha en la misma fila se denomina H1. Por consiguiente, las casillas situadas en la parte inferior a la izquierda y a la derecha son A8 y H8, respectivamente.
                Aunque las fichas tengan dos caras, se las considera blancas o
                negras dependiendo de la cara que se puede ver en el tablero.
            </p>
        </div>
    </div>
    <div class="card border-danger mb-3" style="width:100%;">
        <div class="card-header">Normas y Comunidad</div>
        <div class="card-body">
            <h4 class="card-title">Normas y comunidad</h4>
            <p class="card-text">El usuario puede reportar a otro usuario que vea que esta realizando trampa dentro de la plataforma.</p>
            <p>El usuario sera revisado por un administrador para revisar el caso, si el usuario se haya culpable se inabilitara el usuario.</p>
        </div>
    </div>
