body {
}
#navv {
width:60%;
height:10%;
position:fixed;
top:0%;
left:10%;
}
#control_juego {
background-color:crimson;
width:25%;
height:80%;
position:fixed;
top:10%;
left:70%;
}
#juegoo {
    background-color:darkred;
    width:40%;
    height:80%;
    position:fixed;
    top:10%;
    left:10%;
    padding-left:1%;
}
.bloque1 {
    border:1px solid #000;
    width:50px;
    height:50px;
}
.cafe {
    background-color: saddlebrown;
}
.bloque1.verde:hover {
    background-color: aqua;
}
.float1 {
    float:left;
}
.verde {
    background-color: green;
}
    #bloque_cafe {
        border: 1px solid #000;
        width: 50px;
        height: 50px;
        background-color: saddlebrown;
    }
#bloque_cafe2{
    border: 1px solid #000;
    width: 50px;
    height: 50px;
    background-color: saddlebrown;
    position:fixed;
    top:10%;
    left:40%;
}
.ciculo1 {
    fill:black;
}
.circulo2 {
    fill: white;
}
.circulo0 {
    fill: none;
}
#a01 {
    fill: orange;
}
#a02 {
    fill:red;
}
#a03 {
    fill: orange;
}
#a04 {
    fill: orange;
}
#a05 {
    fill: orange;
}
#a06 {
    fill: orange;
}
#a07 {
    fill: orange;
}
#a08 {
    fill: orange;
}
#a09 {
    fill: orange;
}

#a10 {
    fill: orange;
}

#a11 {
    fill: orange;
}

#a12 {
    fill: orange;
}

#a13 {
    fill: orange;
}

#a14 {
    fill: orange;
}

#a15 {
    fill: orange;
}

#a16 {
    fill: orange;
}
#a17 {
    fill: orange;
}

#a18 {
    fill: orange;
}

#a19 {
    fill: orange;
}

#a20 {
    fill: orange;
}

#a21 {
    fill: orange;
}

#a22 {
    fill: orange;
}

#a23 {
    fill: orange;
}

#a24 {
    fill: orange;
}
#a25 {
    fill: orange;
}

#a26 {
    fill: orange;
}

#a27 {
    fill: orange;
}

#a28 {
    fill: white;
}

#a29 {
    fill: black;
}

#a30 {
    fill: orange;
}

#a31 {
    fill: orange;
}

#a32 {
    fill: orange;
}
#a33 {
    fill: orange;
}

#a34 {
    fill: orange;
}

#a35 {
    fill: orange;
}

#a36 {
    fill: black;
}

#a37 {
    fill: white;
}

#a38 {
    fill: orange;
}

#a39 {
    fill: orange;
}

#a40 {
    fill: orange;
}
#a41 {
    fill: orange;
}

#a42 {
    fill: orange;
}

#a43 {
    fill: orange;
}

#a44 {
    fill: orange;
}

#a45 {
    fill: orange;
}

#a46 {
    fill: orange;
}

#a47 {
    fill: orange;
}

#a48 {
    fill: orange;
}
#a49 {
    fill: orange;
}

#a50 {
    fill: orange;
}

#a51 {
    fill: orange;
}

#a52 {
    fill: orange;
}

#a53 {
    fill: orange;
}

#a54 {
    fill: orange;
}

#a55 {
    fill: orange;
}

#a56 {
    fill: orange;
}
#a57 {
    fill: orange;
}

#a58 {
    fill: orange;
}

#a59 {
    fill: orange;
}

#a60 {
    fill: orange;
}

#a61 {
    fill: orange;
}

#a62 {
    fill: orange;
}

#a63 {
    fill: orange;
}

#a64 {
    fill: orange;
}