
@{
    ViewBag.Title = "Log_Ingresar";
    Layout = "~/Views/Master/Login.cshtml";
}
    <form class="register-form" method="post">
        <input type="text" name="usuario" placeholder="Escriba su nombre de usuario" />
        <input type="password"  name="password" placeholder="password" />
        <button>create</button>
        <p class="message">Ya estas registrado? <a href="#">Registrate</a></p>
    </form>

