@{
    ViewBag.Title = "JugadorVsMaquina";
    Layout = "~/Views/Master/juegoIndividual.cshtml";
}
<!-- Modulo controles -->
    <div id="control_juego">
        <center><h1>play</h1></center>
        <!--Botones de juego-->
        <table>
            <tr>
                <th>
                    <center><button name="play" onclick="play()">Play</button></center>
                </th>
                <th>
                    <center><button name="reiniciar" onclick="reset()">Reiniciar</button></center>
                </th>
                <th>
                    <center><button name="descargar" onclick="descargar()">Descargar</button></center>
                </th>
                <th>
                    <center><button name="cargar" onclick="cargar()">Cargar</button></center>
                </th>
            </tr>
        </table>

        <!--Tabla de jugador 1-->
        <table style="background-color:aqua; color:black; width:100%;height:40%;">
            <tr>
                <th><center><h3>Jugador 1</h3></center></th>
            </tr>
            <tr>
                <th>
                    <center><label id="fic1">Ficha blancas</label></center>
                </th>
            </tr>
            <tr>
                <td>
                    <label>Nombre:</label>
                </td>
                <td>
                    <label id="nom1"> Jugador1</label>
                </td>
            </tr>
            <tr>
                <td>
                    <label>No Partidas:</label>
                </td>
                <td>
                    <label id="partida1"> 0</label>
                </td>
            </tr>
            <tr>
                <td>
                    <label>Puntos:</label>
                </td>
                <td>
                    <label id="pt_blancas">2 </label>
                </td>
            </tr>
        </table>

        <!--Tabla de jugador 2-->
        <table style="background-color:darkorange; color:white; width:100%;height:40%;">
            <tr>
                <th><center><h3>Jugador 2</h3></center></th>
            </tr>
            <tr>
                <th>
                    <center><label id="fic1">Ficha Negras</label></center>
                </th>
            </tr>
            <tr>
                <td>
                    <label>Nombre:</label>
                </td>
                <td>
                    <label id="nom2"> Jugador2</label>
                </td>
            </tr>
            <tr>
                <td>
                    <label>No Partidas:</label>
                </td>
                <td>
                    <label id="partida2"> 0</label>
                </td>
            </tr>
            <tr>
                <td>
                    <label>Puntos:</label>
                </td>
                <td>
                    <label id="pt_negras"> 2</label>
                </td>
            </tr>

        </table>
    </div>
<!-- Modulo de Juego -->>
    <div id="juegoo">
        <!--Letras de Arriba-->
        <div class="bloque1 cafe float1"></div>
        <div class="bloque1 cafe float1">1</div>
        <div class="bloque1 cafe float1">2</div>
        <div class="bloque1 cafe float1">3</div>
        <div class="bloque1 cafe float1">4</div>
        <div class="bloque1 cafe float1">5</div>
        <div class="bloque1 cafe float1">6</div>
        <div class="bloque1 cafe float1">7</div>
        <div class="bloque1 cafe float1">8</div>
        <div class="bloque1 cafe float1"></div>

        <div class="bloque1 cafe float1">1</div>
        <div class="bloque1 verde float1">
            <svg>
                <circle cx="23" cy="23" r="20" id="a01" onclick="prueba(0,1)"/>
            </svg>
        </div>
        <div class="bloque1 verde float1">
            <svg>
                <circle cx="23" cy="23" r="20" id="a02" onclick="prueba(0,2)" />
            </svg>
        </div>
        <div class="bloque1 verde float1">
            <svg>
                <circle cx="23" cy="23" r="20" id="a03" onclick="prueba(0,3)"/>
            </svg>
        </div>
        <div class="bloque1 verde float1">
            <svg>
                <circle cx="23" cy="23" r="20" id="a04" onclick="prueba(0,4)" />
            </svg>
        </div>
        <div class="bloque1 verde float1">
            <svg>
                <circle cx="23" cy="23" r="20" id="a05" onclick="prueba(0,5)"/>
            </svg>
        </div>
        <div class="bloque1 verde float1">
            <svg>
                <circle cx="23" cy="23" r="20" id="a06" onclick="prueba(0,6)" />
            </svg>
        </div>
        <div class="bloque1 verde float1">
            <svg>
                <circle cx="23" cy="23" r="20" id="a07" onclick="prueba(0,7)"/>
            </svg>
        </div>
        <div class="bloque1 verde float1">
            <svg>
                <circle cx="23" cy="23" r="20" id="a08" onclick="prueba(0,8)" />
            </svg>
        </div>
        <div class="bloque1 cafe float1">A</div>


        <div class="bloque1 cafe float1">2</div>
        <div class="bloque1 verde float1">
            <svg>
                <circle cx="23" cy="23" r="20" id="a09" onclick="prueba(0,9)" />
            </svg>
        </div>
        <div class="bloque1 verde float1">
            <svg>
                <circle cx="23" cy="23" r="20" id="a10" onclick="prueba(1,0)"/>
            </svg>
        </div>
        <div class="bloque1 verde float1">
            <svg>
                <circle cx="23" cy="23" r="20" id="a11" onclick="prueba(1,1)"/>
            </svg>
        </div>
        <div class="bloque1 verde float1">
            <svg>
                <circle cx="23" cy="23" r="20" id="a12" onclick="prueba(1,2)"/>
            </svg>
        </div>
        <div class="bloque1 verde float1">
            <svg>
                <circle cx="23" cy="23" r="20" id="a13" onclick="prueba(1,3)" />
            </svg>
        </div>
        <div class="bloque1 verde float1">
            <svg>
                <circle cx="23" cy="23" r="20" id="a14" onclick="prueba(1,4)"/>
            </svg>
        </div>
        <div class="bloque1 verde float1">
            <svg>
                <circle cx="23" cy="23" r="20"  id="a15"  onclick="prueba(1,5)"/>
            </svg>
        </div>
        <div class="bloque1 verde float1">
            <svg>
                <circle cx="23" cy="23" r="20"  id="a16" onclick="prueba(1,6)"/>
            </svg>
        </div>
        <div class="bloque1 cafe float1">B</div>


        <div class="bloque1 cafe float1">3</div>
        <div class="bloque1 verde float1">
            <svg>
                <circle cx="23" cy="23" r="20" id="a17" onclick="prueba(1,7)"/>
            </svg>
        </div>
        <div class="bloque1 verde float1">
            <svg>
                <circle cx="23" cy="23" r="20"  id="a18" onclick="prueba(1,8)"/>
            </svg>
        </div>
        <div class="bloque1 verde float1">
            <svg>
                <circle cx="23" cy="23" r="20"  id="a19" onclick="prueba(1,9)"/>
            </svg>
        </div>
        <div class="bloque1 verde float1">
            <svg>
                <circle cx="23" cy="23" r="20"  id="a20" onclick="prueba(2,0)"/>
            </svg>
        </div>
        <div class="bloque1 verde float1">
            <svg>
                <circle cx="23" cy="23" r="20"  id="a21" onclick="prueba(2,1)"/>
            </svg>
        </div>
        <div class="bloque1 verde float1">
            <svg>
                <circle cx="23" cy="23" r="20"  id="a22" onclick="prueba(2,2)"/>
            </svg>
        </div>
        <div class="bloque1 verde float1">
            <svg>
                <circle cx="23" cy="23" r="20"  id="a23" onclick="prueba(2,3)"/>
            </svg>
        </div>
        <div class="bloque1 verde float1">
            <svg>
                <circle cx="23" cy="23" r="20"  id="a24" onclick="prueba(2,4)"/>
            </svg>
        </div>
        <div class="bloque1 cafe float1">C</div>


        <div class="bloque1 cafe float1">4</div>
        <div class="bloque1 verde float1">
            <svg>
                <circle cx="23" cy="23" r="20"  id="a25" onclick="prueba(2,5)"/>
            </svg>
        </div>
        <div class="bloque1 verde float1">
            <svg>
                <circle cx="23" cy="23" r="20"  id="a26" onclick="prueba(2,6)"/>
            </svg>
        </div>
        <div class="bloque1 verde float1">
            <svg>
                <circle cx="23" cy="23" r="20"  id="a27" onclick="prueba(2,7)"/>
            </svg>
        </div>
        <div class="bloque1 verde float1">
            <svg height="50" width="50">
                <circle cx="23" cy="23" r="20"  id="a28" />
            </svg>
        </div>
        <div class="bloque1 verde float1">
            <svg>
                <circle cx="23" cy="23" r="20"  id="a29" />
            </svg>
        </div>
        <div class="bloque1 verde float1">
            <svg>
                <circle cx="23" cy="23" r="20"  id="a30" onclick="prueba(3,0)"/>
            </svg>
        </div>
        <div class="bloque1 verde float1">
            <svg>
                <circle cx="23" cy="23" r="20"  id="a31" onclick="prueba(3,1)"/>
            </svg>
        </div>
        <div class="bloque1 verde float1">
            <svg>
                <circle cx="23" cy="23" r="20"  id="a32" onclick="prueba(3,2)"/>
            </svg>
        </div>
        <div class="bloque1 cafe float1">D</div>


        <div class="bloque1 cafe float1">5</div>
        <div class="bloque1 verde float1">
            <svg>
                <circle cx="23" cy="23" r="20"  id="a33" onclick="prueba(3,3)"/>
            </svg>
        </div>
        <div class="bloque1 verde float1">
            <svg>
                <circle cx="23" cy="23" r="20"  id="a34" onclick="prueba(3,4)"/>
            </svg>
        </div>
        <div class="bloque1 verde float1">
            <svg>
                <circle cx="23" cy="23" r="20"  id="a35" onclick="prueba(3,5)"/>
            </svg>
        </div>
        <div class="bloque1 verde float1">
            <svg height="50" width="50">
                <circle cx="23" cy="23" r="20"  id="a36" />
            </svg>
        </div>
        <div class="bloque1 verde float1">
            <svg height="50" width="50">
                <circle cx="23" cy="23" r="20"  id="a37" />
            </svg>
        </div>
        <div class="bloque1 verde float1">
            <svg>
                <circle cx="23" cy="23" r="20"  id="a38" onclick="prueba(3,8)"/>
            </svg>
        </div>
        <div class="bloque1 verde float1">
            <svg>
                <circle cx="23" cy="23" r="20"  id="a39" onclick="prueba(3,9)"/>
            </svg>
        </div>
        <div class="bloque1 verde float1">
            <svg>
                <circle cx="23" cy="23" r="20"  id="a40" onclick="prueba(4,0)"/>
            </svg>
        </div>
        <div class="bloque1 cafe float1">E</div>


        <div class="bloque1 cafe float1">6</div>
        <div class="bloque1 verde float1">
            <svg>
                <circle cx="23" cy="23" r="20"  id="a41" onclick="prueba(4,1)"/>
            </svg>
        </div>
        <div class="bloque1 verde float1">
            <svg>
                <circle cx="23" cy="23" r="20"  id="a42" onclick="prueba(4,2)"/>
            </svg>
        </div>
        <div class="bloque1 verde float1">
            <svg>
                <circle cx="23" cy="23" r="20"  id="a43" onclick="prueba(4,3)"/>
            </svg>
        </div>
        <div class="bloque1 verde float1">
            <svg>
                <circle cx="23" cy="23" r="20"  id="a44" onclick="prueba(4,4)" />
            </svg>
        </div>
        <div class="bloque1 verde float1">
            <svg>
                <circle cx="23" cy="23" r="20"  id="a45" onclick="prueba(4,5)"/>
            </svg>
        </div>
        <div class="bloque1 verde float1">
            <svg>
                <circle cx="23" cy="23" r="20"  id="a46" onclick="prueba(4,6)"/>
            </svg>
        </div>
        <div class="bloque1 verde float1">
            <svg>
                <circle cx="23" cy="23" r="20"  id="a47" onclick="prueba(4,7)" />
            </svg>
        </div>
        <div class="bloque1 verde float1">
            <svg>
                <circle cx="23" cy="23" r="20"  id="a48" onclick="prueba(4,8)" />
            </svg>
        </div>
        <div class="bloque1 cafe float1">F</div>


        <div class="bloque1 cafe float1">7</div>
        <div class="bloque1 verde float1">
            <svg>
                <circle cx="23" cy="23" r="20"  id="a49" onclick="prueba(4,9)"/>
            </svg>
        </div>
        <div class="bloque1 verde float1">
            <svg>
                <circle cx="23" cy="23" r="20"  id="a50" onclick="prueba(5,0)"/>
            </svg>
        </div>
        <div class="bloque1 verde float1">
            <svg>
                <circle cx="23" cy="23" r="20"  id="a51" onclick="prueba(5,1)"/>
            </svg>
        </div>
        <div class="bloque1 verde float1">
            <svg>
                <circle cx="23" cy="23" r="20"  id="a52" onclick="prueba(5,2)"/>
            </svg>
        </div>
        <div class="bloque1 verde float1">
            <svg>
                <circle cx="23" cy="23" r="20"  id="a53" onclick="prueba(5,3)"/>
            </svg>
        </div>
        <div class="bloque1 verde float1">
            <svg>
                <circle cx="23" cy="23" r="20"  id="a54" onclick="prueba(5,4)"/>
            </svg>
        </div>
        <div class="bloque1 verde float1">
            <svg>
                <circle cx="23" cy="23" r="20"  id="a55" onclick="prueba(5,5)"/>
            </svg>
        </div>
        <div class="bloque1 verde float1">
            <svg>
                <circle cx="23" cy="23" r="20"  id="a56" onclick="prueba(5,6)"/>
            </svg>
        </div>
        <div class="bloque1 cafe float1">G</div>


        <div class="bloque1 cafe float1">8</div>
        <div class="bloque1 verde float1">
            <svg>
                <circle cx="23" cy="23" r="20"  id="a57" onclick="prueba(5,7)"/>
            </svg>
        </div>
        <div class="bloque1 verde float1">
            <svg>
                <circle cx="23" cy="23" r="20"  id="a58" onclick="prueba(5,8)"/>
            </svg>
        </div>
        <div class="bloque1 verde float1">
            <svg>
                <circle cx="23" cy="23" r="20"  id="a59" onclick="prueba(5,9)"/>
            </svg>
        </div>
        <div class="bloque1 verde float1">
            <svg>
                <circle cx="23" cy="23" r="20"  id="a60" onclick="prueba(6,0)"/>
            </svg>
        </div>
        <div class="bloque1 verde float1">
            <svg>
                <circle cx="23" cy="23" r="20"  id="a61" onclick="prueba(6,1)"/>
            </svg>
        </div>
        <div class="bloque1 verde float1">
            <svg>
                <circle cx="23" cy="23" r="20"  id="a62" onclick="prueba(6,2)"/>
            </svg>
        </div>
        <div class="bloque1 verde float1">
            <svg>
                <circle cx="23" cy="23" r="20"  id="a63" onclick="prueba(6,3)"/>
            </svg>
        </div>
        <div class="bloque1 verde float1">
            <svg>
                <circle cx="23" cy="23" r="20"  id="a64" onclick="prueba(6,4)"/>
            </svg>
        </div>
        <div class="bloque1 cafe float1">H</div>

        <div class="bloque1 cafe float1"></div>
        <div class="bloque1 cafe float1">A</div>
        <div class="bloque1 cafe float1">B</div>
        <div class="bloque1 cafe float1">C</div>
        <div class="bloque1 cafe float1">D</div>
        <div class="bloque1 cafe float1">E</div>
        <div class="bloque1 cafe float1">F</div>
        <div class="bloque1 cafe float1">G</div>
        <div class="bloque1 cafe float1">H</div>
        <div class="bloque1 cafe float1"></div>
    </div>
