@{
    ViewBag.Title = "Jugador_vs_Jugador";
    Layout = "~/Views/Master/juegoIndividual.cshtml";
}
<br />
<!--Control de Juego-->
<div id="control_juego2">
    <table>
        <tr>
            <th><h3>Jugador contra Jugador</h3></th>
        </tr>
        <tr>
            <td>
                <label>Seleccion tipo de juego:</label>
            </td>
            <td>

            </td>
        </tr>
        <tr>
            <th>
                <center><button name="play" onclick="play()">Play</button></center>
            </th>
            <th>
                <center><button name="reiniciar" onclick="reset()">Reiniciar</button></center>
            </th>
            <th>
                <center><button name="reiniciar" onclick="reset()">Cargar Xml</button></center>
            </th>
            <th>
                <center><button name="reiniciar" onclick="reset()">Reiniciar</button></center>
            </th>
            <th>
                <center><button name="reiniciar" onclick="reset()">Guardar</button></center>
            </th>
        </tr>
    </table>
</div >
<!--Control Jugador 1-->
<div id="co_j1">

</div>
<!--Control Jugador 2-->
<div id="co_j2">

</div>