@{
    ViewBag.Title = "Othello";
}

<div class="jumbotron">
    <h1>Othello Cx</h1>
    <p class="lead">Se el primero competidor en demostrar tus habilidades estrategicas</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">¡¡Vamos!! &raquo;</a></p>
</div>

<div class="row" style="color:red">
    <div class="col-md-4">
        <h2>Conoce las reglas</h2>
        <p>
            Conoce y aprender a jugar para enfrentar a jugadores...
        </p>
        <p><a class="btn btn-success" href="https://www.google.com">Aprende &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Modos de Juego</h2>
        <p>Divierte creando juegos modo competitivos o individuales...</p>
        <p><a class="btn btn-success" href="https://go.microsoft.com/fwlink/?LinkId=301866">Conoce &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Participa en Torneos</h2>
        <p>Desmuestra que eres el mejor en los torneos mundiales...</p>
        <p><a class="btn btn-danger" href="https://go.microsoft.com/fwlink/?LinkId=301867">Descubre &raquo;</a></p>
    </div>
    <div class="col-md-5">
        <h2>Registrate</h2>
        <p>Conoce mas sobre los beneficios de cuenta...</p>
        <p><a class="btn btn-success" href="https://go.microsoft.com/fwlink/?LinkId=301867">Registrar &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Ranking Mundial</h2>
        <p>Clasifite como el mejor jugador...</p>
        <p><a class="btn btn-success" href="https://go.microsoft.com/fwlink/?LinkId=301867">Revisa listado &raquo;</a></p>
    </div>
</div>